@model FizzBuzz.Web.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-4">ASP.NET Core 6</h1>
    <p>
        Write an MVC controller class with two methods. 
        One that returns a view with a collection of objects, 
        and a second that performs an add or update of the same type 
        as the first method. 
        Please use attribute routing to decorate the methods 
        and should indicate an appropriate method type.
        The class used for the collection of objects should 
        include an identifier property, and 2 or 3 other properties, 
        which includes at least 1 string and 1 integer. 
        For example: ID, First Name, Last Name & Age.
   </p>

   <h2>Users</h2>

    @foreach(var user in @Model.Users)
    {
        <div>@user.FirstName @user.LastName</div>
    }
</div>
